@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800;900&display=swap');
*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
::after,
::before {
    overflow-x: hidden;
}

nav {
    background-color: #fff6e6;
    display: flex;
    width: 100%;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    display: flex;
    height: 100%;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.logo p {
    display: flex;
    font-size: 25px;
    font-weight: 600;
}

.logo img {
    height: 37%;
    margin-right: 3%;
}

.nav-posicao {
    height: 100%;
    width: 33%;
}

/*=====================================================================================*/

.menu-inicio {
    display: flex;
    height: 100%;
    width: 10%;
    align-items: center;
    justify-content: center;
    font-weight: 400;

    background-image: url(../assets/starnavt.png);
    background-size: 28%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 27%;
    background-position-Y: 47%;
}

.menu-inicio p {
    display: flex;
    margin-left: 2%;
}

/*===============================================================================*/

.menu-sobre {
    display: flex;
    height: 100%;
    width: 10%;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    
    

    background-image: url(../assets/starnavt.png);
    background-size: 28%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 27%;
    background-position-Y: 47%;
}

.menu-sobre p {
    display: flex;
    margin-left: 2%;
}

/*================================================================================*/

.menu-projetos {
    display: flex;
    height: 100%;
    width: 10%;
    align-items: center;
    justify-content: center;
    font-weight: 400;

    background-image: url(../assets/starnavt.png);
    background-size: 28%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 11%;
    background-position-Y:47%;
}

.menu-projetos p {
    display: flex;
    margin-left: 2%;
}

/*=========================================================================================*/

.menu-contato {
    display: flex;
    height: 100%;
    width: 17%;
    align-items: center;
    justify-content: left;
    font-weight: 400;

    background-image: url(../assets/starnavt.png);
    background-size: 17%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 11%;
    background-position-Y: 46%;
}

.menu-contato p {
    display: flex;
    margin-left: 15%;
}

/*======================================================================================*/

.portfolio {
    display: flex;
    background-color: #0d0d0d;
    height: 92.7vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

/*========================================================================================*/

.texto-port {
    height: 30%;
    width: 100%;
    display: flex;
    color: white;
    font-size: 1150%;
    position: absolute;
    top: 34%;
    left: 1%;
    justify-content: center;
    align-items: center;

    background-image: url(../assets/brilho.png);
    background-size: 27%;
    background-repeat: no-repeat;
    background-position-x: 103.6%;
    background-position-y: 169%;
    position: absolute;
}

.pingo {
    height: 10%;
    display: flex;
    width: 5%;
    left: 50.75%;
    top: 64.5%;

    overflow: visible;
    background-image: url(../assets/pingo.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: 20%;
    position: absolute;
}

.cor-port {
    color: #2b2a27;
}
.port-1{
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    right: 1.6%;
}

.port-1::after {
    content: "";
    position: absolute;
    right: -9px;
    top: 14%;
    width: 4px;
    height: 74%;
    background-color: rgb(255, 255, 255);
}

.ponto-port {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    z-index: 1;
}

/*===========================================================================================*/

.texto-insta {
    display: flex;
    height: 4%;
    width: 10%;
    position: absolute;
    top: 60%;
    left: 55%;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.insta {
    font-size: 166%;
    font-weight: 400;
    color: white;
}

/*============================================================================================*/

.texto-face {
    display: flex;
    height: 4%;
    width: 10%;
    position: absolute;
    top: 64%;
    left: 66.9%;
    justify-content: center;
}

.face {
    font-size: 166%;
    color: white;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

/*==========================================================================================*/

.texto-ttk {
    display: flex;
    height: 4%;
    width: 7%;
    position: absolute;
    top: 68%;
    left: 78.2%;
    justify-content: center
}

.ttk {
    font-size: 166%;
    font-weight: 400;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/*==============================================================================================*/

.texto-x {
    display: flex;
    height: 4%;
    width: 3%;
    position: absolute;
    top: 72%;
    left: 84.8%;
    justify-content: center
}

.x {
    font-size: 166%;
    color: white;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}